<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Virtual Shop A&O
    </ion-title>
    <app-catalog-choise></app-catalog-choise>
  </ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="goToCart()">
      <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Virtual Shop A&O</ion-title>
    </ion-toolbar>
  </ion-header>

<app-homeshop></app-homeshop>





</ion-content>
